@charset "UTF-8";
/* CSS Document */
* {margin: 0; padding: 0;}
body {background-image: url("../img/fondo.jpg"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
.cajita {background-color:black; width: 800px; margin: 0 auto; padding: 50px; margin-top: 50px;}
h1 {color: white; text-align: center; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; line-height: 45px; }

